@page
@model ModificaModel

@using _37_WebApp_SQLite.Pages.Categorie;

@{
    ViewData["Title"] = "Modifica Categoria";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <input type="hidden" asp-for="Categoria.Id" />

    <div class="form-group">
        <label asp-for="Categoria.Nome" ></label>
        <input asp-for="Categoria.Nome" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary my-3">Modifica Categoria</button>
    <a asp-page="Index" class="btn btn-secondary">Annulla</a>
</form>