@using _37_WebApp_SQLite.Models
@model List<ProdottoViewModel>
    <h3>Prodotti Recenti</h3>
    @if (Model != null && Model.Any())
    {
        <ul class="list-group">
            @foreach(var prodotto in Model)
            {
                <li class="list-group-item">
                <a asp-page="/Prodotti/Dettaglio" asp-route-id="@prodotto.Id" class="text-dark">@prodotto.Nome</a>
                <span class="text-muted">@prodotto.Prezzo €<br /></span>
                <span class="text-muted">@prodotto.CategoriaNome</span>
                </li>
            } 
        </ul>
    }
    else
    {
        <p>Nessun prodotto trovato.</p>
    }