html {
  font-size: 14px;
  background-color: #121212; /* Sfondo scuro */
  color: #e0e0e0; /* Testo chiaro */
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem #bbb, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  height: 100%;
    margin: 0;
}

body {
  margin-bottom: 60px;
  background-color: #1e1e1e; /* Sfondo scuro per il corpo */
  color: #e0e0e0; /* Testo chiaro */
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

.btn {
  background-color: #3333; /* Bottone scuro */
  color: #fff; /* Testo chiaro */
  border: 1px solid #444; /* Bordo leggermente più chiaro */
}

.btn:hover, .btn:active {
  background-color: #3333; /* Bottone scuro in hover */
  border-color: #3333; /* Bordo in hover */
}

.card {
  background-color: #1f1f1f; /* Sfondo card scuro */
  border-color: #444; /* Bordo leggermente più chiaro */
}

.card-title, .card-text {
  color: #e0e0e0; /* Testo chiaro per il titolo e il testo della card */
}

.card-footer {
  background-color: #121212; /* Sfondo del footer più scuro */
}


footer {
  margin-top: auto; /* Spinge il footer sempre in fondo */
}