@page
@model AggiungiProdottoModel

@using _37_WebApp_SQLite.Pages.Prodotti;

@{
    ViewData["Title"] = "Aggiungi Prodotto";
}

<h2>Aggiungi Nuovo Prodotto</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Prodotto.Nome"></label>
        <input asp-for="Prodotto.Nome" class="form-control" />
    </div>

     <div class="form-group">
        <label asp-for="Prodotto.Prezzo"></label>
        <input asp-for="Prodotto.Prezzo" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Prodotto.IdCategoria"></label>
        <select asp-for="Prodotto.IdCategoria" class="form-control" asp-items="Model.CategorieSelectList">
        <option value="">-- Seleziona Categoria --</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary my-3">Aggiungi Prodotto</button>
    <a asp-page="PagedIndex" class="btn btn-secondary">Annulla</a>
</form>

